<div uk-lightbox="animation:fade">
    <div class="column">
        {% for image in images %}



            <div class="item">
                <div class="uk-card-media-top">
                    <a href="{{ image.path }}" caption="{{ image.name }}">
                        <img src="{{ image.path }}" alt="{{ image.name }}">
                    </a>
                </div>
            </div>


        {% endfor %}
    </div>
</div>
