

{% block form_row %}
	{% if errors|length > 0 %}
    <div class="uk-form-row">
    {% else %}
    <div class="uk-form-row">
        {% endif %}
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
    {% endblock form_row %}
