{# the navbar #}
{% set navbar = [['home', 'Home'], ['art', 'Art'], ['exhibitions', 'Exhibitions'], ['contact', 'Contact']] %}

<nav>
    <div class="uk-container">
        <a href="#my-id" class="uk-navbar-toggle uk-visible-small uk-flex uk-flex-center" data-uk-offcanvas></a>
        <ul class="uk-container navbar uk-hidden-small">

            {% for item in navbar %}
                <li{% if item[0] == active_page %} class="active uk-animation-hover"{% endif %} class="uk-animation-hover uk-animation-fade"><a
                            href="{{ global.request.basepath }}/{{ (item[0]) }}" class="">{{ item[1] }}</a></li>
            {% endfor %}

        </ul>

    </div>

</nav>
<hr>
<div id="my-id" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li><a href="/">Home</a></li>
            <li><a href="/art">Art</a></li>
            <li><a href="/exhibitions">Exhibitions</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>
