html {
    font-size: medium;
    font-family: 'Lato', sans-serif;
}
a {
    color: #1a1a1a;
}
img {
    height: 300px;
}
footer{
    padding: 1%;
    color: #404040;
    text-align: center;
}
.heading {
    font-family: 'Didact Gothic', sans-serif;
    margin-top: 3%;
}
.uk-close-alt {
    background: #273746;
}
.uk-navbar-brand {
    font-size: xx-large;
}
.art {
    color: orangered;
}
.uk-block-large {

    margin: 2%;
}

.uk-container {
    max-width: 100%;

}
.uk-grid-divider {
    padding: 0;
}
.uk-navbar-nav > li > a {
    font-size: medium;
    font-family: 'Lato', sans-serif;
}
a:hover {
    text-decoration: none;
    color: orangered;
}
li.active {
    border-bottom: thin solid orangered;
}

.uk-slidenav {
    color: orangered;
}
.uk-slidenav:hover {
    color: orangered;
}
.uk-margin {
    background-color: rgba(156, 148, 140, 0.08);
}
.navbar {
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: center;
}
.navbar li{
    margin-right: 1%;
}


.uk-navbar-toggle {
    float: none;

}

.uk-offcanvas-bar {
    max-width: 50%;
}
.home-image {
    max-width: 80%;
    margin: 0 auto;
}
.uk-thumbnail {
    height: 300px;
}

.form-control {
    padding: 5%;
}
textarea {
    height: 20%;
}
input[type=submit] {
    /* change these properties to whatever you want */
    background-color: #555;
    color: #fff;
    border-radius: 10px;

}
@media (min-width: 600px) {
    img {
        height: 400px;
    }
    .uk-thumbnail {

        height: 500px;

    }
}


