html {
    font-size: medium;
    font-family: 'Lato', sans-serif;
}
a {
    color: #1a1a1a;
}

footer{
    /*padding: 1%;*/
    color: #404040;
    text-align: center;
}
.heading {
    font-family: 'El Messiri', sans-serif;
    padding: 1%;
    margin: 2%;
}
.soc-icons {
    text-align: center;
    padding: 1%;
    color: #81be00;
}
.uk-close-alt {
    background: #273746;
}
.uk-navbar-brand {
    font-size: 2.5em;
}
.art {
    color: orangered;
}
.uk-block-large {

    margin: 2%;
}

.uk-container {
    max-width: 100%;

}
.uk-grid-divider {
    padding: 0;
}
.uk-navbar-nav > li > a {
    font-size: medium;
    font-family: 'Lato', sans-serif;
}
a:hover {
    text-decoration: none;
    color: orangered;
}
li.active {
    border-bottom: thin solid orangered;
}

.uk-slidenav {
    color: orangered;
}
.uk-slidenav:hover {
    color: orangered;
}
.uk-margin {
    background-color: rgba(156, 148, 140, 0.08);
}
.navbar {
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: center;
}
.navbar li{
    margin-right: 1%;
}


.uk-navbar-toggle {
    float: none;

}

.uk-offcanvas-bar {
    max-width: 50%;
}
.home-image {
    max-width: 80%;
    margin: 0 auto;
}
.uk-thumbnail {
    height: 300px;
}

.form-control {
    padding: 2%;
}
textarea {
    height: 10%;
}
input[type=submit] {
    /* change these properties to whatever you want */
    background-color: #f2fae3;
    color: #2c2c2c;

}
.column {
    column-count: 1;

    margin: 0.5%;

}
.item {
    padding: 8%;


    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);

    margin-left: 0.5%;
    margin-right: 0.5%;
}

.uk-thumbnail-caption {
    border: thin solid black;
}

@media (min-width: 600px) {
    .column {

        column-count: 3;
        column-fill: auto;

    }

    .uk-navbar-brand {
        font-size: 4em;
    }
    .uk-thumbnail {

        height: 500px;

    }
}


