html {
    font-size: medium;
    font-family: 'Lato', sans-serif;
}
 a.main-link {
     color: #1a1a1a;
     /*font-family: 'Candal', sans-serif;*/
}

.alt-link {
    font-family: 'Lato', sans-serif;
}

footer{
    color: white;
    background-color: #34495E;
    padding: 1%;
}
/*needed for the sticky footer*/
/************************/
.site {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1 0 auto;
}
/************************/

.main-heading {
    padding: 1%;
    margin: 1%;
}

/*page headings eg. about, art-work, exhibitions, contact*/
.heading {
    font-family: 'Candal', sans-serif;
    padding: 1%;
    margin: 2%;
    font-size: 2em;
    color: #34495E;
}

.uk-navbar-brand {
    /*font-family: 'Candal', sans-serif;*/
    color: #34495E;
    font-size: 2.5em;
}
a.foot-nav  {
    color: white;
}

/*style the art in gearty*/
.art {
    flex: 1;
    color: #1a1a1a;
}

.uk-container {
    max-width: 100%;
}

.uk-grid-divider {
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: #C70039;
}

li.active {
    border-bottom: thick solid #C70039;
}
.uk-panel {
    padding: 2%;
}
.uk-subnav {
    margin-bottom: 5%;
}

.uk-subnav > *{
    margin: 0;
    padding: 0;
}

.uk-subnav-pill > * > * {
    margin-right: 8px;
    padding: 3px 3px;
}

.uk-margin {
    background-color: rgba(156, 148, 140, 0.08);
}

.navbar {
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: center;
}

.navbar li{
    margin-right: 1%;
}

.uk-navbar-toggle {
    float: none;
}

.uk-offcanvas-bar {
    max-width: 50%;
}

.uk-thumbnail {
    height: 300px;
}

.form-control {
    padding: 2%;
}
.uk-grid {

    margin-bottom: 4%;
}
.column {
    column-count: 1;
    margin: 0.5%;
}

.item {
    padding: 1%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    margin-left: 0.5%;
    margin-right: 0.5%;
    -webkit-column-break-inside: avoid;
}

.form {
    margin-right: 3%;
    margin-left: 3%;
}
input {
    width: 100%;
}


@media (min-width: 600px) {
    .column {
        column-count: 4;
        column-fill: balance;
    }

    .uk-navbar-brand {
        font-size: 3.5em;
    }

    .uk-thumbnail {
        height: 500px;
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    .form {
        display: flex;
        justify-content: center;
    }
}


