html {
    font-size: medium;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}

footer {
    color: black;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 1%;
}

/*needed for the sticky footer*/
/************************/
.site {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1 0 auto;
}

/************************/

.main-heading {
    padding: 1%;
    margin: 1%;
}

/*page headings eg. about, art-work, exhibitions, contact*/
.heading {
    font-family: 'Candal', sans-serif;
    padding: 1%;
    margin: 2%;
    font-size: 2em;
    color: #34495E;
}

.uk-navbar-logo {
    font-family: 'Candal', sans-serif;
    text-align: center;
    color: #34495E;
    font-size: 1.5em;
}

a.foot-nav {
    color: white;
}

/*style the art in gearty*/
.art {
    flex: 1;
    color: #1a1a1a;
}

.uk-container {
    max-width: 100%;
}

.uk-grid-divider {
    padding: 0;
}

a:hover {
    text-decoration: none;
    /*color: #C70039;*/
}

li.active {
    border-bottom: thick solid #C70039;
}

.uk-panel {
    padding: 2%;
}

.uk-subnav {
    margin-bottom: 5%;
}

.uk-subnav > * {
    margin: 0;
    padding: 0;
}

.uk-subnav-pill > * > * {
    margin-right: 8px;
    padding: 3px 3px;
}

.uk-thumbnail {
    height: 300px;
}

.form-control {
    padding: 2%;
}

.column {
    column-count: 2;
}

.item {
    padding: 0.5%;
    /*margin-left: 0.2%;*/
    /*margin-right: 0.2%;*/
    -webkit-column-break-inside: avoid;
}

.form {
    margin-right: 3%;
    margin-left: 3%;
}

input {
    width: 100%;
}

.uk-offcanvas-bar {
    width: 100%;
    height: 100%;
    background-color: black;
}

.uk-nav {
    text-align: center;
}

.uk-navbar-item {
    color: white;
}

.uk-navbar-item:hover {
    color: grey;
}

.uk-close-large {
    color: white;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.uk-navbar-nav > li > a {
    color: whitesmoke;
}

.uk-card-default {
    box-shadow: none;
}

.uk-lightbox {
    background: aliceblue;
}

@media (min-width: 600px) {
    .column {
        column-count: 4;
        column-fill: balance;
    }

    .uk-navbar-logo {
        font-size: 2em;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .form {
        display: flex;
        justify-content: center;
    }
}


