{% extends 'base.html.twig' %}
{% set active_page = 'art' %}
{% block nav %}
{% include 'partials/navbar.html.twig' %}
{% endblock %}

{% block content %}



        <div class="uk-margin uk-margin-left uk-margin-right" data-uk-slideset="{small: 2, large: 6}">
            <ul class="uk-slideset uk-grid uk-grid-match uk-flex">
                {% for image in images %}
                <li><a href="#my-panel" data-uk-offcanvas><img src={{ image.path|raw }}><div class="uk-thumbnail-caption">{{ image.name }}</div></a></li>
                {% endfor %}
            </ul>
        </div>

        {# sliding panel from the right with information on the painting #}
        <div id="my-panel" class="uk-offcanvas">
            <div class="uk-offcanvas-bar uk-offcanvas-bar-flip uk-contrast">
                <div class="uk-panel">
                    <h3 class="uk-panel-title"></h3>
                    <p>Business as usual. one of daves best pictures.. featuring the policemen from hell</p>
                </div>
            </div>
        </div>







{% endblock %}
