<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{%  block description %}{% endblock %}">
    <meta name="author" content="web dev by neil mcmahon.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="LaLOM8iSjGdwZbZhOoppL9Ds_ZLGcWDHKMNlVJnc1Vk"/>
    <meta name="theme-color" content="#2775B1">
    <title>{% block title %}{% endblock %}</title>

    <!-- UIkit 3 CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/css/uikit.min.css"/>

    {# switch to this file while developing. #}
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
    {#<link rel="stylesheet" href="{{ asset('/css/prefix-main.css', 'css') }}">#}
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.ico">


</head>
<body class="site">
<div class="uk-offcanvas-content">

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main class="site-content">


        {% block nav %}
        {% endblock %}

        {# content block #}
        {% block content %}
        {% endblock %}
    </main>
    {# the footer #}
    <footer class="site-footer">

        <div class="uk-text-center">
            <p>
                www.davegeartyart.info
            </p>

            <p class="uk-text-muted uk-text-small">
                $this->webDevelopment<a class="art" href="http://solidsites.ie">("SolidSites")</a>
            </p>
            <p>
                &copy; {{ "now"|date('Y', timezone="Europe/Dublin") }}
                Have a nice {{ "now"|date('l') }}
            </p>
            <a class="uk-link-muted" href="/login"><span uk-icon="icon:cog"></span></a>
        </div>
    </footer>
    {# javascript functions #}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <!-- UIkit 3 JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit-icons.min.js"></script>

</div>
</body>
</html>
