<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Dave Gearty | Artist{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('/css/uikit.min.css') }}">

    <link rel="stylesheet" href="{{ asset('/css/main.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Bangers|Amatica+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ asset('/js/uikit.min.js') }}"></script>
    <script src="{{ asset('js/stretchy.js') }}" async></script>
</head>
<body class="site">
<main class="site-content">
<div class="main-heading uk-flex uk-flex-center">
    <a href="/" class="uk-navbar-brand"><span>Dave</span> Ge<span class="art">art</span>y</a>
</div>
<div class="uk-flex uk-flex-center">
    <p class="uk-text-muted">Visual Artist</p>
</div>
{% block nav %}
{% endblock %}


{# content block #}
{% block content %}
{% endblock %}
</main>
{# the footer #}
<footer>

    <i class="uk-icon-cog"></i>
    <i class="uk-icon-flash"></i>
    <p>&copy;2016 www.davegeartyart.info</p>
</footer>
{# javascript functions #}
{% block javascript %}
{% endblock %}
</body>
</html>