{% extends 'base.html.twig' %}

{% block content %}
    Welcome, {{ app.user.username }}
    <a href="{{ path('admin_logout') }}">Logout</a>
    <div class="main">
        <form action="#" method="post">

        </form>
    </div>
{% endblock %}
