{% extends 'base.html.twig' %}
{% set active_page = 'exhibitions' %}
{% block nav %}
    {% include 'partials/navbar.html.twig' %}
{% endblock %}
{% block content %}
    <div class="uk-grid uk-container uk-grid-divider uk-text-center">
        <div class="uk-margin uk-width-1-1"><h1>{{ 'solo'|upper }}</h1> Exhibitions</div>
    {% for image in images %}
        <div class="uk-width-1-3">
            <p>{{ image.year }}</p>
            <p>{{ image.name|capitalize }}</p>
            <p>{{ image.location|title }}</p>
        </div>

        {% endfor %}
    </div>
{% endblock %}