{% extends 'base.html.twig' %}
{% block content %}

    <div class="slideshow uk-slidenav-position" data-uk-slideshow>
        <ul class="uk-slideshow" data-uk-slideshow="{autoplay: true, animation: 'random-fx'}">
            {% for image in images %}
            <li><img src={{ image.path|raw }}></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}