{% extends 'base.html.twig' %}
{% set active_page = 'home' %}
{% set heading = 'visual artist' %}
{% block description %}
    Dave Geartys Home Page. A visual Artist based in County Sligo, working in
    mixed medium, inspireed by socio-political events.
{% endblock %}
{% block title %}Dave Gearty | Artist | Sligo based artist.{% endblock %}
{% block nav %}
    {% include 'partials/navbar.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'partials/heading.html.twig' %}
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="{{ asset('/images/house_party.jpg') }}" alt="random picture" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <p class="uk-article-meta">modern visual artist inspired by current events, past
                    events and future events</p>
                <hr class="uk-article-divider">
                <p>David Gearty is a visual artist based in Co Sligo in the Northwest of Ireland.
                    Originally from Tullow, Co Carlow, he moved to Sligo in 2001 where he completed
                    his BA(Hons) in Fine Art, graduating in 2005.</p>
                <p>Since then he has continued to produce visual art, mostly in the mediums of
                    painting, drawing and collage/mixed media. His work is mostly influenced by
                    socio-political events, pop-culture, the local landscape and modern Irish
                    culture.</p>
                <p>He has held several solo exhibitions in Ireland as well as participating in
                    numerous group shows around the Northwest. He also exhibits regularly with <a
                            href="http://hermitcollective.weebly.com/">The Hermit Collective</a> .
                </p>

            </div>
        </div>
    </div>

{% endblock %}
