{% extends 'base.html.twig' %}
{% set active_page = 'home' %}
{% set heading = 'about' %}
{% block nav %}
    {% include 'partials/navbar.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'partials/heading.html.twig' %}
    <div class="uk-flex uk-flex-center">

            <img class="uk-thumbnail" src="{{ asset('/images/business_as_usual2.jpg') }}" alt="collage 4 pic">

    </div>
    <div>
        <article class="uk-article uk-text-center">
            <h1 class="uk-article-title">Dave Gearty, portrait of an artist</h1>
            <p class="uk-article-meta">Dave is a sligo based artist</p>
            <p class="uk-article-lead">Dave is a well respected member of the irish art scene.</p>

            ...
        </article>
    </div>

{% endblock %}