{% extends 'base.html.twig' %}
{% block content %}
    <article class="uk-article">
        <h2 class="uk-article-title">Dave Gearty</h2>
        <p class="uk-article-meta">An artist living in Sligo</p>
        <p class="uk-article-lead">Dave is an artist living in sligo. Well known for his work in both paint and photography.</p>
        ...
        <hr class="uk-article-divider">
        <p class="uk-text-center">Dave is an artist from carlow currently living in Sligo. He has a fine art degree from Sligo IT and has exhibited in some of the best galleries in ireland</p>
    </article>
{% endblock %}