{% extends 'base.html.twig' %}
{% set active_page = 'home' %}
{% set heading = 'about' %}
{% block nav %}
    {% include 'partials/navbar.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'partials/heading.html.twig' %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-3">
            <div class="uk-panel"><img src="{{ asset('/images/business_as_usual2.jpg') }}" alt="random picture"></div>
        </div>
        <div class="uk-width-medium-2-3">
            <div class="uk-grid">
                <div class="uk-width-medium-3-4">
                    <h1 class="uk-article-title">{{ 'Dave Gearty, portrait of an artist'|upper }}</h1>
                    <p class="uk-article-meta">modern visual artist inspired by current events</p>
                    <p class="uk-article-lead">A 21st Century artist</p>
                    <p class="uk-article-meta">Sometimes experimental with his materials, always serious about his work</p>
                    <p>David Gearty is a visual artist based in Co Sligo in the Northwest of Ireland.  originally from Tullow, Co Carlow, he moved to Sligo in 2001 where he completed his BA(Hons) in Fine Art, graduating in 2005.</p>
                    <p>Since then he has continued to produce visual art, mostly in the mediums of painting, drawing and collage/mixed media.
                        His work is mostly influenced by socio-politics events, pop-culture, the local landscape and modern Irish culture.</p>
                        <p>He has done several solo exhibitions in Ireland as well as participating in numerous group shows around the Northwest with <a href="http://hermitcollective.weebly.com/">The Hermit Collective</a> .</p>
                </div>

            </div>
        </div>
    </div>



{% endblock %}