{% extends 'base.html.twig' %}
{% block content %}

    <div class="slideshow uk-slidenav-position" data-uk-slideshow>
        <ul class="uk-slideshow" data-uk-slideshow="{autoplay: true, animation: 'random-fx'}">
            <li><img src="/images/business_as_usual.jpg" alt="guards picture"></li>
            <li><img src="/images/cement-vines.jpg" alt="random pic"></li>
        </ul>
    </div>

{% endblock %}